[data-theme="dark"]{

/* Colors */

--vu-bg:#0F172A;

--vu-surface:#111827;

--vu-card:#1E293B;

--vu-text:#F8FAFC;

--vu-text-light:#CBD5E1;

--vu-text-muted:#94A3B8;

--vu-border:#334155;

}